{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="top_bar">
            <div id="customer_area">
                {{ render(controller('FOSUserBundle:Security:login'))}}
            </div>
        </div>
        <div id="header">
            Header une belle image
        </div>
        <div id="container">
            <div id="left_column">
                {% block left_column %}{% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div style="clear:both"></div>
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app.css', 'css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app.js', 'js') }}"></script>
{% endblock %}
