{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Blu-ray</h1>
    <div class='listingBluray'>
        {% for key, value in listBluray %}
            <div>
                <div class="pictureListing">{{value.picture}}</div>
                <div class="descriptionListing">
                    <h2>{{value.title}}</h2>
                    {{value.description}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}